body {
    font-family: Arial, sans-serif;
    margin-right: 10px;
    margin-left: 10px;
}
.navbar {
    background-color: #12343b;
}
.navbar-brand, .nav-link {
    color: #fff !important;
}
.footer {
    background-color: #f8f9fa;
    padding: 15px;
    text-align: center;
}
.footer a {
    text-decoration: none;
    color: #004080;
}
.card {
    margin-bottom: 1.5rem;
    background-color: #2d545e;
    text-decoration-color: #f8f9fa;
    filter: drop-shadow(0 0 10px);
}
img{
    filter: drop-shadow(0 0 20px);
    filter: hue-rotate(150)
}
.flex-container{
    display: flex;
}
p, ul{
    color: orange;
}
.loader, span{
    width: 10em;
    height: 10em;
    border: 0.25em solid white;
    border-radius: 1em;
    position: absolute;
    mix-blend-mode:multiply;
    animation: rotating 2s linear infinite;
}
